:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*, :before, :after {
  box-sizing: border-box;
}

a, button {
  cursor: revert;
}

ol, ul, menu {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  appearance: revert;
}

:where(pre) {
  all: revert;
}

::placeholder {
  color: unset;
}

::marker {
  content: initial;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable="true"]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
}

.btn, .btn-external {
  width: 320px;
  color: #fff;
  background: #0f131c;
  border-radius: 50px;
  padding: 16px;
  transition: background .3s, transform .3s, box-shadow 0s .3s;
  display: block;
  transform: translateY(0);
  box-shadow: 0 3px 5px #0f131c33;
}

@media screen and (max-width: 767px) {
  .btn, .btn-external {
    width: 300px;
  }
}

.btn:hover, .btn-external:hover {
  background-color: #bbc0c9;
  transform: translateY(1px);
}

.btn-external {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100%;
  color: #0f131c;
  letter-spacing: .1ex;
  background-color: #fefefe;
  font-family: Inter, Helvetica Neue, Arial, Hiragino Kaku Gothic ProN, Hiragino Sans, BIZ UDPGothic, Meiryo, sans-serif;
  font-size: 16px;
}

img {
  width: 100%;
  object-fit: contain;
}

.container {
  z-index: 1;
  position: relative;
  top: 0;
}

.side-border {
  z-index: -1;
  width: 100%;
  height: 100lvh;
  position: fixed;
  top: 0;
}

.side-border_left {
  width: 1px;
  height: 100vh;
  background-color: #bbc0c9;
  display: block;
  position: absolute;
  top: 0;
  left: 40px;
}

@media screen and (max-width: 767px) {
  .side-border_left {
    left: 20px;
  }
}

.side-border_right {
  width: 1px;
  height: 100vh;
  background-color: #bbc0c9;
  display: block;
  position: absolute;
  top: 0;
  right: 40px;
}

@media screen and (max-width: 767px) {
  .side-border_right {
    right: 20px;
  }
}

.header {
  z-index: 1;
  width: 100%;
  height: auto;
  background: #fff;
  border-top: 1px solid #0f131c;
  border-bottom: 1px solid #0f131c;
  position: fixed;
  top: 0;
}

.header-inner {
  border-left: 1px solid #0f131c;
  border-right: 1px solid #0f131c;
  margin: 0 40px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .header-inner {
    margin: 0 20px;
    padding: 24px;
  }
}

.header-column {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 767px) {
  .header-column {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.header-logo {
  width: 242px;
  padding: 0 0 0 40px;
}

@media screen and (max-width: 767px) {
  .header-logo {
    width: 160px;
    padding: unset;
  }
}

.header-logo svg {
  width: 100%;
}

.header-toggle {
  display: none;
}

@media screen and (max-width: 767px) {
  .header-toggle {
    width: 67px;
    height: 7px;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 16px;
  }

  .header-toggle > span {
    height: 1px;
    background: #0f131c;
    transition: transform .3s;
    display: block;
  }
}

.header-navi {
  background: #fff;
  justify-content: flex-start;
  display: flex;
  position: relative;
}

@media screen and (max-width: 767px) {
  .header-navi {
    visibility: hidden;
    z-index: 3;
    width: 100%;
    height: 100lvh;
    flex-direction: column;
    margin: auto;
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
  }

  .header-navi:before {
    content: "";
    width: 1px;
    height: 100vh;
    background-color: #0f131c;
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
  }

  .header-navi:after {
    content: "";
    width: 1px;
    height: 100vh;
    background-color: #0f131c;
    display: block;
    position: absolute;
    top: 0;
    right: 20px;
  }
}

.header-sns {
  width: 106px;
  border-left: 1px solid #0f131c;
  place-content: center;
  margin: 0 0 0 40px;
  display: grid;
}

@media screen and (max-width: 767px) {
  .header-sns {
    width: 89%;
    border-top: 1px solid #0f131c;
    border-bottom: 1px solid #0f131c;
    border-left: none;
    margin: 40px auto;
    padding: 24px 20px;
  }
}

.header-sns a {
  width: 28px;
  height: 28px;
  display: block;
}

.header-sns a:hover {
  opacity: .7;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    filter: blur(.8px);
    transform: scale(.9);
  }

  to {
    opacity: 1;
    filter: blur();
    transform: scale(1);
  }
}

#nav-input {
  display: none;
}

#nav-input:checked ~ .header-navi {
  visibility: visible;
  animation: .3s alternate fadeIn;
}

#nav-input:checked + .header-toggle span:first-child {
  transform: translateY(3px)rotate(14deg);
}

#nav-input:checked + .header-toggle span:last-child {
  transform: translateY(-3px)rotate(-14deg);
}

.navi {
  gap: 40px;
  padding: 30px 20px;
  display: flex;
}

@media screen and (max-width: 767px) {
  .navi {
    flex-direction: column;
    justify-content: center;
  }
}

.navi-item {
  text-align: center;
  position: relative;
}

.navi-item a {
  opacity: 1;
  display: block;
}

.navi-item a:before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #0f131c;
  transition: transform .3s;
  display: block;
  position: absolute;
  bottom: -16px;
  transform: scale(0);
}

.navi-item a:hover {
  opacity: .7;
}

.navi-item a:hover:before {
  transform: scale(1);
}

.navi-item_en {
  margin: 0 0 8px;
  font-size: 18px;
}

.navi-item_ja {
  font-size: 14px;
}

.main-visual {
  width: 100%;
  max-width: 1260px;
  margin: 164px auto 154px;
}

@media screen and (max-width: 767px) {
  .main-visual {
    margin: 16vh auto 100px;
    padding: 0 40px;
  }
}

.main-visual_photo {
  transform: scale(1);
}

.main-visual_logo {
  max-width: 640px;
  margin: 0 auto 56px;
}

@media screen and (max-width: 767px) {
  .main-visual_logo {
    width: 65%;
    margin: 0 auto 16px;
  }
}

.section-titles {
  width: -moz-fit-content;
  width: fit-content;
  opacity: 0;
  transition: opacity .5s .8s;
}

.section-titles_head {
  color: #fff;
  text-shadow: 0 0 5px #0006;
  font-size: 56px;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .section-titles_head {
    font-size: 24px;
  }
}

.section-titles_sub {
  color: #fff;
  letter-spacing: .3ex;
  text-shadow: 0 0 5px #0006;
  font-size: 32px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .section-titles_sub {
    font-size: 16px;
  }
}

.section-titles.active {
  opacity: 1;
}

.section-text {
  margin: 0 0 32px;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .section-text {
    font-size: 14px;
  }
}

.section-list {
  border-left: 1px solid #bbc0c9;
  margin: 0 0 32px;
  padding: 0 0 0 40px;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .section-list {
    padding: 0 0 0 20px;
    font-size: 14px;
  }
}

.section-detail_title {
  margin: 0 0 24px;
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .section-detail_title {
    font-size: 16px;
  }
}

.section-detail_text {
  border-left: 1px solid #bbc0c9;
  padding: 0 0 8px 40px;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .section-detail_text {
    padding: 0 0 8px 20px;
    font-size: 14px;
  }
}

.section-thumbs {
  position: relative;
  top: 0;
  overflow: hidden;
}

.section-thumbs:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #fff;
  transition: left .8s, width 1s .5s;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.section-thumbs.active:before {
  width: 0%;
  left: 100%;
}

.business {
  max-width: 1280px;
  margin: 0 auto 156px;
}

@media screen and (max-width: 767px) {
  .business {
    margin: 0 auto 100px;
  }
}

.business-thumbs {
  width: 960px;
  margin: 0 auto 64px;
  position: relative;
  top: 0;
}

@media screen and (max-width: 767px) {
  .business-thumbs {
    width: 100%;
    margin: 0 auto 32px;
  }
}

.business-titles {
  position: absolute;
  bottom: 40px;
  left: 40px;
}

@media screen and (max-width: 767px) {
  .business-titles {
    bottom: 20px;
    left: 20px;
  }
}

.business-details {
  width: 960px;
  margin: 0 auto;
  padding: 0 40px;
}

@media screen and (max-width: 767px) {
  .business-details {
    width: 100%;
  }
}

.mechannical {
  margin: 0 80px 156px;
}

@media screen and (max-width: 767px) {
  .mechannical {
    margin: 0 40px 100px;
  }
}

.mechannical-column {
  align-items: center;
  gap: 80px;
  display: flex;
}

@media screen and (max-width: 767px) {
  .mechannical-column {
    flex-direction: column;
    gap: 32px;
  }
}

.mechannical-column_thumb {
  aspect-ratio: 16 / 9;
  flex-basis: 60%;
  position: relative;
  top: 0;
}

.mechannical-column_titles {
  position: absolute;
  bottom: 40px;
  left: 40px;
}

@media screen and (max-width: 767px) {
  .mechannical-column_titles {
    bottom: 20px;
    left: 20px;
  }
}

.recruit {
  margin: 0 80px 156px;
}

@media screen and (max-width: 767px) {
  .recruit {
    margin: 0 40px 100px;
  }
}

.recruit-column {
  flex-direction: row-reverse;
  gap: 80px;
  display: flex;
}

@media screen and (max-width: 767px) {
  .recruit-column {
    flex-direction: column;
    gap: 32px;
  }
}

.recruit-column_thumb {
  flex-basis: 60%;
  position: relative;
  top: 0;
}

.recruit-titles {
  position: absolute;
  top: 40px;
  left: 40px;
}

@media screen and (max-width: 767px) {
  .recruit-titles {
    top: 20px;
    left: 20px;
  }
}

.footer {
  background: #fff;
  border-top: 1px solid #0f131c;
  border-bottom: 1px solid #0f131c;
}

.footer-inner {
  border-left: 1px solid #0f131c;
  border-right: 1px solid #0f131c;
  margin: 0 40px;
}

@media screen and (max-width: 767px) {
  .footer-inner {
    margin: 0 20px;
  }
}

.footer-column {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-bottom: 1px solid #0f131c;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
}

@media screen and (max-width: 767px) {
  .footer-column {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 1fr;
  }
}

.footer-column:last-child {
  border-bottom: none;
}

.footer-company {
  border-right: 1px solid #0f131c;
  padding: 32px 0 56px 32px;
}

@media screen and (max-width: 767px) {
  .footer-company {
    border-bottom: 1px solid #0f131c;
    border-right: none;
    padding: 32px 20px 56px;
  }
}

.footer-maps {
  position: relative;
  top: 0;
}

@media screen and (max-width: 767px) {
  .footer-maps {
    height: 360px;
  }
}

.footer-maps iframe {
  width: 99.99%;
  height: 100%;
  position: absolute;
  top: 0;
}

.footer-detail {
  flex-wrap: wrap;
  row-gap: 16px;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer-detail {
    flex-direction: column;
    row-gap: 0;
  }
}

.footer-detail_title {
  flex-basis: 25%;
  font-size: 16px;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .footer-detail_title {
    margin: 0 0 8px;
    font-size: 14px;
  }
}

.footer-detail_content {
  flex-basis: 70%;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .footer-detail_content {
    margin: 0 0 16px;
    font-size: 14px;
  }
}

.footer-contact {
  border-right: 1px solid #0f131c;
  align-items: center;
  gap: 56px;
  padding: 32px;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer-contact {
    border-bottom: 1px solid #0f131c;
    border-right: none;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
  }
}

.footer-contact_heading {
  font-size: 32px;
  font-weight: 600;
}

.footer-copy {
  justify-content: center;
  align-items: center;
  display: grid;
}

.footer-copy small {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .footer-copy small {
    padding: 16px 0;
    font-size: 14px;
  }
}

.company-head {
  color: #0f131c;
  text-shadow: none;
  font-size: 48px;
}

@media screen and (max-width: 767px) {
  .company-head {
    font-size: 32px;
  }
}

.company-sub {
  color: #0f131c;
  text-shadow: none;
  margin: 0 0 32px;
}

